# Add your keys here and rename the file to `.env`
# warning: variables prefixed with GATSBY_ will be made available to client-side code

ALGOLIA_APP_ID=XXX
ALGOLIA_SEARCH_KEY=XXX
ALGOLIA_ADMIN_KEY=XXX
ALGOLIA_INDEX_NAME=XXX